
@{
    ViewBag.Title = "Community_Service";
}
<div class="container">
    <div class="csheader">
        <h4>خطة المشاركة المجتمعية لهذاالعام</h4>
    </div>
    <div class="cssemployees section">
        <p style="color: red">
            أولا التوعية بخدمة المجتمع وتنمية البيئة
        </p>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>الهدف الإجرائي</th>
                <th>الأنشطة</th>
                <th>الجهات المسئولة عن التنفيذ</th>
                <th>الخطوات التنفيذية</th>
                <th>المخرجات</th>
                <th>الأطارالزمني</th>
                <th>مؤشرالتنفيذ</th>
                
            </tr>
            </thead>
            <tr class="success">
                <td>رفع كفائة أعضاء هيئة التدريس والطلابوالعاملين بها لأداء الدور الخدمي</td>
                <td> إعداد ألية لتحفيزأعضاء هيئة التدريس للمساهمة في خدمة الكلية والمجتمع  </td>
                <td>عميد الكلية و وكيل اللكلية لشئون التعليم والطلاب</td>
                <td>إظهار أهمية التواصل الإجتماعي وزيادة مهارات التواصل الفردية مع مختلف الفئات</td>
                <td>وجود نظام تحفيز مادي وعنوي لأعضاء هيئة التدريس</td>
                <td>علي مدار العام</td>
                <td>زيادة نسبة مشاركة أعضاء هيئةالتدريس في أنشطة مختلفة تخدم المجتمع</td>


            </tr>

            

        </table>
        <p style="color: red">
            ثانيا تفاعل المؤسسة مع المجتمع الخارجي       
        </p>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>الهدف الإجرائي</th>
                <th>الأنشطة</th>
                <th>الجهات المسئولة عن التنفيذ</th>
                <th>الخطوات التنفيذية</th>
                <th>المخرجات</th>
                <th>الأطارالزمني</th>
                <th>مؤشرالتنفيذ</th>

            </tr>
            </thead>
            <tr class="danger">
                <td>التعاون المشترك للكلية مع المؤسسات المختلفة</td>
                <td> تحديث قاعدة بيانات الشركات والمؤسسات المختلفة التي يرتبط عملها بمجال الكلية ومنها شركات تكنولجيا المعلومات  </td>
                <td>عميد الكلية و وكيل اللكلية لشئون خدمة البيئة وتنمية المجتمع وشئون الخريجين وفريق معيار الطلاب والخريجين</td>
                <td>التنسيق مع فريق الطلاب والخريجون وشئون الخريجين بالكلية لتحديث بيانات الخريجين وإعداد قاعدة بيانات خاصة بهم</td>
                <td>قاعدة بيانات تحدث سنويا</td>
                <td>من نوفمبر الي يناير</td>
                <td>زيادةعدد الشركات سنويا داخل قاعدة البيانات بحيث تعكس الوضع الفعلي لسوق تكنولجيا المعلومات</td>


            </tr>



        </table>
    </div>
</div>


