@{
    ViewBag.Title = "CS_Dept";
}
<div class="container">
    <div class="csheader">
        <h4>قسم علوم الحاسب</h4>
    </div>
    <div class="text-right section">
        <p>
            الاهتمام الرئيسي لقسم علوم الحاسب هو متابعة واستيعاب وتطوير المفاهيم العلمية وراء ما تنجزه الحاسبات وكيف تنجزه مع معرفة بناء الحاسبات وكيف تعمل، فيهتم القسم بتحليل وتصميم وقياس درجة تعقيد الخوارزميات المستخدمة في حل المشكلات الحقيقية، ويركز القسم علي تطبيقات الذكاء الاصطناعي التي تحاكي فيها الحاسبات السلوك الذكي لإنسان في معالجة المعلومات.
        </p>

    </div>
    <br/>
<div class="csheader">
    <h4>مواد القسم</h4>
    </div>
    <div class="cssubjects section">

        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr class="success">
                <td>تحليل وتصميم الخوارزميات</td>
                <td>اللغات الصورية ونظرية الآلات </td>
                <td>تقييم أداء النظم</td>
                <td>البرمجة المنطقية</td>
            </tr>

            <tr class="danger">
                <td>تعريب الحاسب </td>
                <td>الذكاء الاصطناعي </td>
                <td>النظم الخبيرة </td>
                <td>معالجة الكلام</td>

            </tr>
            <tr class="success">
                <td> الشبكات العصبية</td>
                <td>الحاسبات الموزعة</td>
                <td> اساسيات البرمجة </td>
                <td>معالجة الصور</td>

            </tr>
            <tr class="danger">
                <td> البرمجة الهيكلية</td>
                <td>البرمجة الشيئية </td>
                <td> نظم التشغيل </td>
                <td>علوم الإدراك</td>
            </tr>
            <tr class="success">
                <td>نظرية مترجمات البرامج</td>
                <td>معالجة الصور</td>
                <td>البرمجة المنطقية</td>
                <td>الرؤية بالحاسب</td>
            </tr>
        </table>
    </div>
    <br/>
    <div class="csheader">
        <h4>تشكيل مجلس القسم</h4>
    </div>
   

        <div class="cssemployees section">
           
            <table class="table table-bordered table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>م</th>
                        <th>الإسم</th>
                        <th>الوظيفة</th>
                    </tr>
                </thead>
                <tr class="success">
                    <td>1</td>
                    <td>أ.د/هالة حلمي زايد </td>
                    <td>عميد الكلية ورئيس قسم علوم الحاسب(مشرفا)</td>

                </tr>

                <tr class="danger">
                    <td>2</td>
                    <td>أ.م. د  / مازن محمد سليم</td>
                    <td>قائم بعمل وكيل الكلية لشئون التعليم والطلاب  (عضواً)</td>


                </tr>
                <tr class="success">
                    <td> 3</td>
                    <td> د/ رشا عربان محمود عبدالكريم</td>
                    <td> مدرس بقسم علوم الحاسب (عضواً) </td>

                </tr>
                <tr class="danger">
                    <td>5</td>
                    <td> أ/إيمان عصام محمد </td>
                    <td> (إداري)</td>

                </tr>
                <tr class="success">
                    <td>6</td>
                    <td> أ/شذي فارس عبدالحميد </td>
                    <td> (إداري)  </td>

                </tr>
            </table>
        </div>

    </div>

