@{
    ViewBag.Title = "Home Page";
}

        <div id="myCarousel" class="carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>


            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide " src="~/Images/1.jpg" alt="First slide">

                </div>
                <div class=" item ">
                    <img class="second-slide" src="~/Images/2.jpg" alt="Second slide">

                </div>
                <div class="item">
                    <img class="third-slide " src="~/Images/3.jpg" alt="Third slide">

                </div>
                <div class="item">
                    <img class="fourth-slide" src="~/Images/4.jpg" alt="Third slide">

                </div>
                <div class="item">
                    <img class="fourth-slide" src="~/Images/5.jpg" alt="Third slide">

                </div>
                <div class="item">
                    <img class="fourth-slide" src="~/Images/6.jpg" alt="Third slide">

                </div>
                <div class="item">
                    <img class="fourth-slide" src="~/Images/7.jpg" alt="Third slide">

                </div>
                <div class="item">
                    <img class="fourth-slide" src="~/Images/8.jpg" alt="Third slide">

                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


<br/>
<br />
<div class="section text-right deanword">
    <h3 class="text-primary text-center">  كلمة عميد الكلية</h3>

    <p>
        أبنائي الطلاب..
        <br />

        مرحباً بكم في كلية الحاسبات والمعلومات بجامعة بنها

        تحرص الكلية على أن تقوم بدور ريادي في خدمة الطلاب والبحث العلمي والدراسات العليا وكذلك في خدمة المجتمع الخارجي وفيما يخص الطلاب فتقدم الكلية برامج متنوعة لطلاب البكالوريوس وكذلك فرص تدريبية متميزة بالشراكة مع كبرى الشركات فى مجالات تكنولوجيا المعلومات كما تشجع الكلية مختلف الأنشطة الطلابية العلمية والثقافية والفنية والرياضية من خلال اتحاد الطلاب والأسر والمبادرات الطلابية كما تنتهج الكلية سياسة الباب المفتوح في التعامل مع شكاوى ومقترحات الطلاب أبنائي الطلاب أتمنى لكم أن تحققوا أقصى استفادة من فترة الدراسة في ظل الإمكانات المادية والبشرية للكلية المتميزة وأن تتخرجوا سفراء متميزين لكليتكم...

        <h3 class="text-right text-primary">أ.د/ هالة حلمى زايد</h3>
    </p>
</div>
<div class=" row ourvision">
    <div class="col-lg-4">
        <img src="~/Images/goals.png" width="70" height="70" />
        <h3 style="font-weight: bold">
            الأهداف
        </h3>

        <p>
            إعداد طالب ذو كفاءة في مجالات الحاسبات والمعلومات تدريب الطالب على العمل الجماعي و الإبتكاري        </p>
    </div>
    <div class="col-lg-4">
        <img src="~/Images/mission.png" width="70" height="70" />
        <h3 style="font-weight: bold">
            الرسالة
        </h3>

        <p>
            تسعى الكلية إلى إعداد خريج متميز قادر على المنافسة فى سوق العمل فى مجالات الحاسبات و المعلومات
        </p>
    </div>

    <div class="col-lg-4 ">
        <img src="~/Images/vission.png" width="70" height="70" />
        <h3 style="font-weight: bold">
            الرؤية
        </h3>

        <p>
            الريادة في مجــالات الحـاسبـات والمعلومــات على المستوى المحلي والإقليمي

        </p>

    </div>
  

</div>


@*<div class="section footer">
    
    <div class="row">        
        <div class=" col-lg-4" style="float: right ">
            <h2>روابط هامة</h2>
            <ul class="list-group">
                <li class="list-group-item-text"><a target="_blank" href="http://www.mcit.gov.eg/ar">وزارة الاتصالات</a> </li>
                <li class="list-group-item-text"><a target="_blank" href="http://www.bu.edu.eg/">جامعة بنها</a></li>
                <li class="list-group-item-text"><a target="_blank" href="https://www.ekb.eg/">بنك المعرفة المصري</a></li>


            </ul>
        </div>

        <div class=" col-lg-4" style="float: right">
            <h2>إتصل بنا</h2>
          
            <ul class="list-group">
                <li class="list-group-item-text"><a href="#">التليفون: 0133229371</a></li>
                <li class="list-group-item-text"><a href="#">الفاكس: 01332229361</a></li>
                <li class="list-group-item-text"><a href="#">صندوق بريد: 3000-104</a></li>


            </ul>
        </div>

        <div class=" col-lg-4">
            <h2> تابعناعلي مواقع التواصل</h2>
            <ul class="list-group">
                <li class="list-group-item-text"><a target="_blank" href="http://www.mcit.gov.eg/ar">فيس بوك</a> </li>
                <li class="list-group-item-text"><a target="_blank" href="http://www.bu.edu.eg/">تويتر</a></li>
                <li class="list-group-item-text"><a target="_blank" href="https://www.ekb.eg/">لينكدان</a></li>


            </ul>
             
          
        </div>
        
    </div>
</div>*@















