@{
    ViewBag.Title = "Information_Security_Program";
}
<div class="container">
<div class="csheader">
    <h3>برنامج أمن المعلومات واكتشاف الأدلة الجنائية الرقمية </h3>
</div>
<div class="text-right section">
    <h4 >أهداف البرنامج</h4>
    <ol>
        <li>
            إعداد متخصصين بارعين في أمن المعلومات ومجالاتها المختلفة لغرض فهم العمليات التي تؤثر على أمن المعلومات، وحماية أصول المعلومات، وتحليل البيانات، وتحديد وإصلاح الثغرات الأمنية.
        </li>
        <li>
            إعداد الخريجين لاكتساب المهارات العلمية والنظرية والقدرات التقنية للتعامل مع المؤسسات والشركات التي تواجه أخطاراً متزايدة وجرائم إلكترونية يعاقب عليها القانون والتي تهدد نظم المعلومات وشبكات الحاسب لهذه المؤسسات والشركات.
        </li>
        <li>
            تخريج كوادر محترفة في تقنيات أمن المعلومات في كل من المجال الأكاديمي أو المهني قادرين على القيادة والتصميم والتطوير لمختلف المشاريع في مجالات أمن المعلومات المختلفة.
        </li>
        <li>
            إعداد كوادر متخصصة وذات كفاءة عالية في جمع واكتشاف وتحليل الأدلة الجنائية الرقمية بما يخدم البحث الجنائي والأمن القومي ويساعد جهات التحقيق ومؤسسات انفاذ القانون في تحقيق العدالة.
        </li>

        <li>
            إعداد خريجين لهم القدرة العالية على المنافسة في المؤسسات المحلية والإقليمية والعالمية في هذه التخصصات الجديدة بحيث يكون لديهم القدرة على تحليل وتقدير الأدلة الرقمية (وتفسيرات تلك الأدلة) التي تم الحصول عليها من التحقيقات الجنائية في مجال الحاسب وتطبيق المبادئ الإجرائية المناسبة على تلك الأدلة.
        </li>
        <li>
            تقديم برنامج عالي الجودة يعتمد على التعليم الذاتي والتفكير الإبداعي مع تطبيق نظم تقييم الأداء وضمان الجودة.
        </li>
        <li>
            طرح برنامج متخصص بالتعاون مع متخصصين في المجال مما يتيح تقديم تخصصات تكنولوجية حديثة ويسمح للطلاب باستكمال دراستهم في جامعات عالمية.
        </li>
        <li>
            طرح برنامج متخصص بالتعاون مع متخصصين في المجال مما يتيح تقديم تخصصات تكنولوجية حديثة ويسمح للطلاب باستكمال دراستهم في جامعات عالمية.
        </li>
        <li>
            تقديم برنامج يعتمد على نظام الساعات المعتمدة المعروف عالمياً الذي يتيح للطلاب الدراسة حسب قدراتهم وميولهم واهتماماتهم.
        </li>
        <li>
            توفير مساحة أكبر للطلاب للتدريبات العملية والمعملية التي تواكب متطلبات العمل في جميع مؤسسات الدولة.
        </li>
        <li>
            ابراز وتمكين الطلاب المميزين علمياً من تحقيق طموحاتهم العلمية.
        </li>
        <li>
            إعداد خريجين مدركين لأهمية التعلم مدى الحياة للتقدم في حياتهم المهنية.
        </li>
    </ol>
</div>
<br/>
<div class="csheader">
    <h4>المهارات التي يوفرها البرنامج للطلاب </h4>
</div>

<div class="text-right section">
    <p>
        يزود البرنامج الطلاب بالمهارات التالية:

    </p>
    <ol>
        <li> إظهار القدرة على التفريق بين مختلف نماذج أمن تقنية المعلومات وهيكليتها والمخاطر المرتبطة بنقل المعلومات ومعالجتها وتخزينها.
        </li>

        <li>
            استخدام أحدث الأساليب والأدوات في تصميم وتطوير أنظمة آمنة واكتشاف الثغرات الأمنية وطرق علاجها.
        </li>
        <li>
            الإلمام بالعمليات وخطوات ومنهجيات تطوير النظم وتأمينها.
        </li>
        <li>

            تقويم وتحليل الاختراقات المحلية والدولية التي قد تحدث للأنظمة المعلوماتية.
        </li>
        <li>
            القدرة على معرفة مختلف نقاط الضعف للشبكات والطرق المستخدمة لاختراق أمن شبكات الحاسب والتزويد بحلول شاملة للحد من هذه الاختراقات.
        </li>
        <li>
            إظهار المعرفة وتفسير القضايا الأخلاقية والقانونية المحيطة بأمن المعلومات والتي تشمل خصوصية المعلومات وشرعيتها.
        </li>
        <li>
            تطوير الحلول لحماية شبكات الحاسب والمعلومات من التهديدات والاختراقات على النطاقين الداخلي والخارجي.
        </li>
        <li>
            الإلمام بالمفاهيم الأساسية المتعلقة بأمن المعلومات والجرائم الإلكترونية والتحديات المهنية التي يواجها خبراء الأدلة الجنائية الرقمية.
        </li>
        <li>
            مناقشة المبادئ الأساسية للطب الشرعي الحاسوبي ووصف دور الطب الشرعي الرقمي في ردع وكشف الجرائم الإلكترونية.
        </li>
        <li>
            تزويد الطلاب بالمهارات الأساسية في جمع وحفظ وتحليل وتقديم الدليل الإلكتروني على وقوع جريمة ما.
        </li>
        <li>
            القدرة على التفكير والابداع من خلال البرامج المطروحة والدراسات الحرة المتضمنة والتي تزود الطلاب بمهارات استخلاص المعلومات مما يمكنهم من طرح حلول مناسبة في مجال تخصصهم.
        </li>
        <li>
            اكتساب مهارة جمع البيانات من مجموعة متنوعة من المصادر الإلكترونية وتحليليها.
        </li>
        <li>
            اكتساب مهارات التعامل مع الدليل الإلكتروني مع الحفاظ على سلامة الإثبات طوال التحليل.
        </li>
        <li>
            اكتساب مهارة برمجة الأنظمة باستخدام لغات البرمجة المختلفة وتحت نظم تشغيل مختلفة.
        </li>
        <li>
            الإلمام بالمعايير والمسئوليات الأخلاقية والقانونية للمهنة.
        </li>
    </ol>
</div>
<br/>
<div class="csheader">
    <h4>
        فرص العمل المتاحة لخريجي البرنامج
    </h4>
</div>
<div class="cssubject">

    <div class="text-right section">
        <p>
            وفيما يلي قائمة بأشهر المسميات الوظيفية في مجال أمن الحاسبات واكتشاف الأدلة الجنائية الرقمية:

        </p>

        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr class="success">
                <td>محلل الاختراقات الأمنية </td>
                <td>محلل البرمجيات الخبيثة </td>
                <td>مهندس أمن شبكات </td>
                <td>أخصائي الجرائم الإلكترونية</td>
            </tr>

            <tr class="danger">
                <td> مسئول قطاع أمن الأنظمة الإلكترونية</td>
                <td> مختبر اختراق التطبيقات </td>
                <td>محلل/مدير استعادة النظام في حالات الكوارث/استمرارية العمل </td>
                <td>أخصائي التحليل الجنائي</td>

            </tr>
            <tr class="success">
                <td> محلل المخاطر/ مدير المخاطر</td>
                <td>استشاري الأمن الإلكتروني </td>
                <td> مدعي عام متخصص في جرائم أمن المعلومات </td>
                <td> محلل أمني</td>

            </tr>
            <tr class="danger">
                <td> مهندس أمن </td>
                <td> خبير أمني في منظمة لمطوري التطبيقات </td>
                <td>مدير الحوادث</td>
                <td>محقق جرائم الحاسوب</td>
            </tr>
            <tr class="success">
                <td> مختبر اختراقات النظام والشبكة والويب</td>
                <td> باحث ثغرات / مطور اقتحامات</td>
                <td>محلل أدلة جنائية في الجرائم المعلوماتية </td>
                <td>محقق جرائم/خبير أدلة جنائية في أمن المعلومات</td>
            </tr>
        </table>
    </div>
    <br/>
    <div class="csheader">
        <h4>
            أماكن العمل المتاحة التي يوفرها البرنامج
        </h4>
    </div>
    <div class="text-right section">
        <p>
            وخريج برنامج "أمن المعلومات واكتشاف الأدلة الجنائية الرقمية" هو خريج قام بدراسة جميع مقررات البرمجة ومقررات مجال علوم الحاسب بالإضافة إلى مقررات تخصصية في أمن المعلومات وجمع وكشف وتحليل الأدلة الجنائية الرقمية والهدف الأساسي من هذا البرنامج هو إعداد خريج لشغل وظائف في المهن التي تتطلب فهماً واسعاً وتفاعلاً مع أنظمة أمن المعلومات والجرائم الإلكترونية، حيث يستطيع الخريج أن يعمل في عدة مجالات حديثة وحيوية تضم (كأمثلة ولا تقتصر على):
        </p>

        <ol>
            <li>
                الشركات العاملة في أمن المعلومات
            </li>

            <li>
                الشركات العاملة في مجال شبكات الحاسبات
            </li>
            <li>
                شركات الاتصالات وشركات المحمول
            </li>
            <li>

                صناعة بطاقات الدفع
            </li>
            <li>
                الشركات العاملة في مجال التجارة الإلكترونية
            </li>
            <li>
                شركات الخدمات المالية
            </li>
            <li>
                المؤسسات الأكاديمية
            </li>
            <li>
                الدوائر الحكومية
            </li>
            <li>
                مزودي خدمة الإنترنت
            </li>
            <li>
                الإدارة العامة لتحقيق الأدلة الجنائية - وزارة الداخلية
            </li>
            <li>
                الإدارة العامة لمباحث الإنترنت - وزارة الداخلية
            </li>
            <li>
                مصلحة الطب الشرعي – قسم أبحاث التزييف والتزوير – وزارة العدل
            </li>
            <li>
                العمل كمهندس برمجيات بشركات الحاسبات نظرا لدراسته لجميع مقررات علوم الحاسب الأساسية.
            </li>

        </ol>


    </div>
</div>
</div>




