
@{
    ViewBag.Title = "IS_Dept";
}

<div class="container">
    <div class="csheader">
        <h4>قسم نظم المعلومات</h4>
    </div>
    <div class="text-right section">
        <p>
            الاهتمام الرئيسي لقسم نظم المعلومات هو دراسة جميع القضايا الفنية وقضايا الإدارة العليا والسياسات التخطيطية المقترنة بتوظيف الحاسبات في إنشاء نظم المعلومات للهيئات والمؤسسات. فيتطرق القسم بشكل متوازن للنواحي النظرية والعلمية المتعلقة بتوصيف وتحليل وتصميم وتنفيذ وإدارة نظم المعلومات مع تعظيم الاستفادة من البنية الأساسية لتكنولوجيا المعلومات.        </p>

    </div>
    <br/>
    <div class="csheader">
        <h4>مواد القسم</h4>
        </div>

    <div class="cssubjects section">
       
        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr class="success">
                <td>تحليل وتصميم النظم </td>
                <td>هندسة المعلومات </td>
                <td>أمان المعلومات</td>
                <td>تطبيقات نظم المعلومات</td>
            </tr>

            <tr class="danger">
                <td>نظم ميكنة العمل المكتبي </td>
                <td>ميكنة المكتبات  </td>
                <td>نظم المعلومات الإدارية  </td>
                <td>نظم المعلومات الجغرافية</td>

            </tr>
            <tr class="success">
                <td> هندسة البرمجيات</td>
                <td>هياكل البيانات </td>
                <td> تنظيم الملفات </td>
                <td> نظم إدارة قواعد البيانات</td>

            </tr>
            <tr class="danger">
                <td> إدارة الأعمال</td>
                <td>نظم دعم اتخاذ القرار  </td>
                <td>  نظم معلومات التسويق </td>
                <td>نظم التجارة الإلكترونية</td>
            </tr>
            <tr class="success">
                <td>معالجة الصفقات</td>
                <td> الوسائط المتعددة</td>
                <td> التنقيب عن البيانات</td>
                <td>شبكات المعلومات </td>
               
            </tr>
        </table>
    </div>


    <br/>
    <div class="csheader">
        <h4>تشكيل مجلس القسم</h4>
    </div>
   
    <div class="cssemployees section">
      
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>م</th>
                    <th>الإسم</th>
                    <th>الوظيفة</th>
                </tr>
            </thead>
            <tr class="success">
                <td>1</td>
                <td> أ.م.د / طارق أحمد الششتاوى  </td>
                <td>وكيل الكلية للدراسات العليا ورئيس قسم نظم المعلومات (مشرفاً)</td>

            </tr>

            <tr class="danger">
                <td>2</td>
                <td>د / خالد محمد فؤاد ابراهيم </td>
                <td> مدرس بقسم نظم المعلومات (عضوا )</td>


            </tr>
            <tr class="success">
                <td> 3</td>
                <td> أ / زاهية محمد السيد</td>
                <td> ( إداري) </td>

            </tr>
            <tr class="danger">
                <td>5</td>
                <td> أ/إيمان عصام محمد </td>
                <td> (إداري)</td>

            </tr>
            
        </table>
    </div>

</div>

