
@{
    ViewBag.Title = "IT_Unit";
}

<div class="container">
    <div class="csheader">
        <h4>وحدة تكنولوجيا المعلومات</h4>
    </div>
    <div class="text-right section">
        <p>
            يهدف مشروع تكنولوجيا المعلومات بمنظومة للتعليم العالي إلى تنفيذ وإدارة العمليات التعليمية والبحثية والإدارية باستخدام تكنولوجيا المعلومات والإتصالات و إتاحة تداول المعلومات إلكترونياً بما يفيد جموع المستفيدين من التعليم العالي  فى جميع المجالات وهذا يعتبر رسم توضيحى للأقسام الست للمشروع        </p>
    </div>
    
</div>
<div class="ICTPlogo">
    <img src="~/Images/ICTP.jpg" />
</div>


