
@{
    ViewBag.Title = "Medical_Informatics_Program";
}

<div class="container">
    <div class="csheader">
        <h4>برنامج المعلوماتية الطبية</h4>
    </div>
    
    <div class="text-right section">
        <h3 style="text-align: right;padding-right: 25px;">أهداف البرنامج</h3>
           
          
        <ol>
            <li>
                تعميق الفهم والمعرفة لعلم المعلوماتية الطبية وتقنياتها
            </li>
            <li>
                توفير فرص البحث في مجال المعلوماتية الطبية.
            </li>
            <li>
                إعداد متخصصين في تصميم التطبيقات الابتكارية وتعزيز التكنولوجيات الجديدة لتحسين الرعاية الصحية.
            </li>
            <li>
                اكساب الخريج المهارات العلمية والنظرية والقدرات التقنية للتعامل مع المنظمات والمؤسسات والشركات التي تهتم ببرامج وبحوث الخدمات الصحية
            </li>
              
            <li>
                إعداد كوادر متخصصة وذات كفاءة عالية في جمع واكتشاف وتحليل بيانات السجلات الطبية بما يخدم البحث العلمي ويساعد مختلف الجهات في تحقيق رعاية صحية متكاملة.
            </li>
            <li>
                إعداد خريجين لهم القدرة العالية على المنافسة في المؤسسات المحلية والإقليمية والعالمية في هذه التخصصات الجديدة بحيث يكون لديهم القدرة على تحليل وتصميم تطبيقات المعلوماتية الطبية
            </li>
            <li>
                تقديم برنامج عالي الجودة يعتمد على التعليم الذاتي والتفكير الإبداعي مع تطبيق نظم تقييم الأداء وضمان الجودة.
            </li>
            <li>
                طرح برنامج متخصص بالتعاون مع متخصصين في المجال مما يتيح تقديم تخصصات تكنولوجية حديثة ويسمح للطلاب باستكمال دراستهم في جامعات عالمية.
            </li>
            <li>
                تقديم برنامج يعتمد على نظام الساعات المعتمدة المعروف عالمياً الذي يتيح للطلاب الدراسة حسب قدراتهم وميولهم واهتماماتهم.
            </li>
            <li>
                توفير مساحة أكبر للطلاب للتدريبات العملية والمعملية التي تواكب متطلبات العمل في جميع المؤسسات.
            </li>
            <li>
                ابراز وتمكين الطلاب المميزين علمياً من تحقيق طموحاتهم العلمية.
            </li>
            <li>
                إعداد خريجين مدركين لأهمية التعلم المستمر للتقدم في حياتهم المهنية.
            </li>
            </ol>

        

    </div>
    <br />
    <div class="csheader">
        <h4>فرص العمل لخريجي البرنامج</h4>
    </div>
    <div class="text-right section">
        <p>
            يؤهل البرنامج الخريجين للعمل في عدة مجالات حديثة وحيوية تضم (كأمثلة ولا تقتصر على):
        </p>
        <ol>
            <li>  المستشفيات</li>
      
            <li>
                نظم الرعاية الصحية
            </li>
            <li>
                شركات المعلومات وعلى وجه الخصوص المعلوماتية الصحية
            </li>
            <li>

                مختبرات البحوث، وشركات المعلومات
            </li>
            <li>
                شركات التكنولوجيا الطبية
            </li>
            <li>
                منظمات الصحة العامة وشركات البرمجيات الطبية
            </li>
            <li>
                شركات التأمين الصحي، والمنظمات الحكومية
            </li>
            <li>
                شركات إنتاج البرمجيات وعلى وجه الخصوص المتعلقة بالمنظومة الصحية
            </li>
            <li>
                إدارة تقنيات المعلومات بمختلف المؤسسات.
            </li>
        </ol>
    </div>
    <br/>
    <div class="csheader">
        <h4>مسميات الوظائف التي يوفرها البرنامج</h4>
    </div>
    <div class="text-right section">
        <p>
            مدير تقنية المعلومات بالمؤسسات الطبية وتشمل:
        </p>

        <ol>
            <li>  مدير السجلات الصحية</li>

            <li>
                مدير قواعد البيانات

                </li>
            <li>
                مدير شبكات المعلومات
            </li>
            <li>

                مدير نظم التشغيل
            </li>
            <li>
                محلل نظم المعلومات (محلل نظم التطبيقات الصحية)
            </li>
            <li>
                مصمم ومطور نظم في البيئات الحديثة
            </li>
            <li>
                مطور برمجيات قواعد البيانات الصحية
            </li>
            <li>
                مطور تطبيقات الموبايل
            </li>
            <li>
                محلل بيانات كبيرة (صحية)
            </li>
            <li>
                باحث في مجال المعلوماتية الحيوية.

            </li>
        </ol>
    </div>

</div>



    
