
@{
    ViewBag.Title = "PostGraduate_Section";
}
<div class="container">

<div class="csheader">
    <h4>
        قطاع الدراسات العليا
    </h4>
</div>
<div class="text-right section">
    <p>
        تدرك الكلية أن رسالتها الأساسية تتمثل في تكوين بنية أساسية من الخرجين المتميزين ذوي كفاءات عالية متخصصة في مجالات الحاسبات وتكنولوجيا المعلومات والإسهام في تطوير البحث العلمي لخدمة المجتمع والبيئة المحيطة ومن ثم الإسهام في إثارء المعرفة الإنسانية بكافة فروعها عن طريق الدارسات المتخصصة والبحث العلمي الجاد للوصول إلى إضافات علمية وتطبيقية مبتكرة والكشف عن حقائق جديدة عن طريق:


    </p>
    <ol>
        <li>
            السعي لبلورة وترسيخ أسس الحاسبات وتكنولوجيا المعلومات, على أعلى المستويات العالمية        </li>

        <li>
        تشجيع ودعم البحث العلمي والدارسات المختلفة بكامل جوانبها التخصصية, والتي تسهم وبشكل فعال في  تنمية المستوى العلمي والبحثي, بهدف إعداد الباحثين العلميين وتأهيل الكوادر العلمية المختصة.         <li>
            الإلمام بالعمليات وخطوات ومنهجيات تطوير النظم وتأمينها.
        </li>
        <li>

            توثيق الروابط الثقافية والعلمية مع الكليات والجامعات ذات التخصص المماثل  وذلك للإطلاع وتبادل الآارء العلمية بشأن التطوير والتحديث المستمر للأسس والأساليب العلمية المتبعة.         </li>
        <li>
            الحث الدائم على مبدأ ربط الجامعة بالمجتمع وذلك بتحقيق أعلى المستويات من التفاعل بين الكلية  وأقسامها المختلفة مع المؤسسات والهيئات المعنية في الدولة ذات الصلة والاهتمام المشتركين لتحقيق هدف ربط المؤسسات العلمية مع الواقع العملي وخلق نوع من التكامل        </li>
    </ol>


</div>
<br/>
<div class="csheader">
    <h4>
        نظام الدراسة والقيد


    </h4>
</div>
<div class="text-right section">
    <p>
        نظام الدراسة:

        <br/>

        تقوم الدراسة وفقاً لنظام الساعات المعتمدة. و ينقسم العام الدراسي إلى فصلين دراسيين مدة كل منها أربعة عشر أسبوعاً. ويسمح بالقيد طبقاً للقواعد الموضحة بالمادة (4) ويتم احتساب التقديرات طبقاً للمادة (12).



    </p>
    <p>
        مواعيد الدراسة و القيد:
        <br />

        تقدم طلبات القيد بداية من شهر أغسطس بالنسبة للفصل الدراسي الأول، و بداية من شهر يناير بالنسبة للفصل الدراسي الثاني مع استيفاء شروط القيد وسداد الرسوم بحيث لا تتجاوز موعد بداية الدراسة و التي تحددها الكلية.


    </p>
    <p>شروط القيد:</p>
    <ol>
        <li>
            الحصول على موافقة مجلس القسم المختص واستكمال المستندات المطلوبة من إدارة الدراسات العليا.
        </li>

        <li>
        يتم عقد اختبار قبول بمعرفة القسم المختص وكذلك تحديد عدد الطلاب المقبولين حسب الإمكانيات المتاحة بالقسم والكلية كما يجوز أن يقرر القسم مقررات إستكمالية كشرط لقبول الطالب.
        <li>
            يتم التسجيل لدراسة المقررات المختلفة بالكلية في بداية كل فصل دراسي (في الفترة التي تحددها الكلية) بعد موافقة المرشد الأكاديمي المختص.
        </li>
        <li>

            في حالة الطلاب الوافدين يقبل الطلاب الحاصلين على تقدير عام جيد أو تقدير جيد في مادة تخصص. والطلبة الوافدين غير المستوفين شرط الحصول على التقدير المطلوب في مادة التخصص
        </li>
        <li>
            أ‌-    تُحدد لجنة الدراسات العليا بالكلية ما يحتاجه الطالب من مواد تكميلية لدراسته حتى يتمكن من الالتحاق بالبرنامج المراد دراسته واستكمال متطلباته بدون تعثر.

        </li>
        <li>
            ب‌-  يقوم الطالب بدراسة المقررات المقترحة من لجنة الدراسات على الا تزيد عن 6 ساعة معتمدة، و لا تُحسب هذه الساعات ضمن الساعات المعتمدة المحددة للبرنامج الذي يرغب الطالب في الالتحاق به.


        </li><li>
            ت‌-  يُمكن للطالب دراسة بعض مقررات البرنامج الذي يرغب في الالتحاق به والتي لا تتعارض مع المقررات التكميلية التي أوصت لجنة الدراسات بها على أن تحسب له تقديرات هذه المقررات بعد إجتياز المقررات التكميلية.


        </li>
    </ol>


</div>
<br/>
<div class="csheader">
    <h4> الدرجات العلمية   </h4>
</div>

<div class="text-right section">
    <p style="text-align: center;color: red">                 درجة الماجستير في الحاسبات والمعلومات
       
    </p>
    <p>
        يمنح مجلس جامعة بنها بناءً على إقتراح مجلس الكلية درجة الماجستير في الحاسبات والمعلومات في أحد التخصصات التالية:
        <br/>
        1.  علوم الحاسـب
        <br/>    
        2. تكنولوجيا المعلومــــــــــــات 
        <br/>
        3.  نظم المعلومات   
        <br/>
        4. الحسابات العلمية

    </p>
    <p>
        وتمنح الشهادة مبيناً فيها اسم القسم العلمي (والتخصص) وعنوان الرسالة. ويمكن إضافة درجات ماجستير بينية في الحاسبات والمعلومات بين تخصصات الأقسام المختلفة أو بالاشتراك مع جامعات أجنبية بعد موافقة مجلس الجامعة بناءً على إقتراح مجلس الكلية على أن تتبع الإجراءات النظامية للحصول على الموافقات الرسمية لذلك.
    </p>
    <p style="text-align: right">
        شروط القيد:
        <br/>
        يشترط لقيد الطالب لدرجة الماجستير بالإضافة إلى شروط القيد التي سبق ذكرها في القواعد العامة ما يلي:


    </p>
    <ol>
        <li>
            أن يكون حاصلاً على درجة البكالوريوس في الحاسبات والمعلومات اوما يعادلهما من جامعة أو كلية معتمدة من المجلس الأعلى للجامعات المصرية.
        </li>

        <li>
        يمكن أن يكون حاصلاً على درجة البكالوريوس الهندسة (هندسة الحاسبات) أو بكالوريوس العلوم (شعبة علوم الحاسب) وما يعادلهما من جامعة أو كلية معتمدة من المجلس الأعلى للجامعات المصرية وذلك بعد موافقة القسم المتقدم له الطالب.
        <li>
            أن يكون حاصلاً على البكالوريوس بتقدير عام جيد على الأقل أو ما يعادله من نقاط
        </li>
        <li>

            يلتزم الطالب بتقديم شهادة بنتيجة أحد الامتحانات في اللغة الإنجليزية TOEFL (أو ما يعادلها) بالمستوى الذي يقره مجلس الكلية وبما يتفق مع قرارات المجلس الأعلى للجامعات في هذا الصدد.
        </li>
        <li>
            تعرض أوراق الطالب الحاصل على درجة البكالوريوس المعادل على القسم العلمي المختص وقد يقوم القسم بمطالبة الطالب بدراسة عدد من المقررات المكملة. وفي حالة تحديد مجلس القسم لعدد 3 مقررات دراسية على الأكثر، يمكن أن يقيد الطالب لنيل درجة الماجستير مع دراسة هذه المقررات ولا تحتسب هذه الساعات ضمن الساعات المطلوبة للدراسة. ويمكن للقسم أن يقرر تأجيل التسجيل لحين الانتهاء من دراسة المقررات المطلوبة.

        </li>
        <li>
            تعرض خطة البحث وتقرير المشرف عن الندوة العلمية على مجلس القسم المختص لاعتمادها بعد الموافقة عليها، ثم تعرض على لجنة الدراسات العليا لتقديمها لمجلس الكلية للموافقة على التسجيل وتحسب بداية مدة التسجيل من تاريخ موافقة مجلس الكلية.
        </li>
                     
    </ol>
    <p style="text-align: center;color: red">
        درجة الدكتوراه في الحاسبات والمعلومات


    </p>
    <p>
        يمنح مجلس جامعة بنها بناءً على اقتراح مجلس الكلية درجة الدكتوراه  في الحاسبات والمعلومات في أحد التخصصات التالية:

        <br />
        1.  علوم الحاسـب
        <br />
        2. تكنولوجيا المعلومــــــــــــات
        <br />
        3.  نظم المعلومات
        <br />
        4. الحسابات العلمية

    </p>
    <p> وتمنح الشهادة مبيناً فيها اسم القسم العلمي (والتخصص) وعنوان الرسالة.

        <br/>
        شروط القيد:


    </p>
    <ol>
        <li>
            شروط القيد الواردة في القواعد العامة.
        </li>

        <li>
        أن يكون الطالب حاصلاً على درجة البكالوريوس والماجستير في الحاسبات والمعلومات أو هندسة الحاسبات أو علوم (قسم علوم الحاسب) ما يعادلهما من جامعة أو كلية معتمدة من المجلس الأعلى للجامعات المصرية وذلك بعد موافقة القسم المتقدم له الطالب.
        <li>
            أن يلتزم الطالب بتقديم شهادة بنتيجة إمتحان اللغة الإنجليزية TOEFL بالمستوى الذي يقرره مجلس الكلية وبما يتفق مع قرارات المجلس الأعلى للجامعات في هذا الصدد.
        </li>
        <li>

            تعرض أوراق الطالب الحاصل على درجة الماجستير المعادل على القسم العلمي المختص وقد يقوم القسم بمطالبة الطالب بدراسة عدد من المقررات التأهيلية. وفي حالة تحديد مجلس القسم لعدد 3 مقررات دراسية على الأكثر، يمكن أن يقيد الطالب لنيل درجة الدكتوراه مع دراسة هذه المقررات ولا تحتسب هذه الساعات ضمن الساعات المطلوبة للدراسة. ويمكن للقسم أن يقرر تأجيل التسجيل لحين الانتهاء من دراسة المقررات المطلوبة.
        </li>
        <li>
            إجتياز الطالب لامتحان تأهيلي دكتوراه قبل القيد للدرجة وذلك في موضوعات يحددها القسم المختص. ويعقد هذا الإمتحان مرتين في السنة (شهر أكتوبر- شهر أبريل).

        </li>
        <li>
            تعرض خطة البحث وتقرير المشرف عن الندوة العلمية على مجلس القسم المختص لاعتمادها بعد الموافقة عليها، ثم تعرض على لجنة الدراسات العليا لتقديمها لمجلس الكلية للموافقة على التسجيل وتحسب بداية مدة التسجيل من تاريخ موافقة مجلس الكلية.
        </li>

    </ol>

</div>
<br/>
<div class="csheader">
    <h4> مقررات التخصص    </h4>
</div>
    <div class="text-right section">
        <h3 style="text-align: center;color: red">
            قسم علوم الحاسب
        </h3>
        <p>
            متطلبات الماجستير في علوم الحاسب
            <br />
            يقوم الطالب بدراسة 18 ساعة معتمدة للمقررات منها 9 ساعات معتمدة للمقررات الإجبارية و 9 ساعة للمقررات الإختيارية بالإضافة الي الرسالة العلمية وتعادل 18 ساعة معتمدة.



        </p>
        <p>
            متطلبات الدكتوراه في علوم الحاسب
            <br />
            مطلوب من الطالب إجتياز إختبار تأهيلى دكتوراه ودراسة 12 ساعة معتمدة من المقررات التالية بالإضافة الي الرسالة العلمية.






        </p>
        <h3 style="text-align: center;color: red">
            قسم نظم المعلومات
        </h3>
        <p>
            متطلبات الماجستير في نظم المعلومات
            <br />
            يقوم الطالب بدراسة 18 ساعة معتمدة للمقررات منها 9 ساعات معتمدة للمقررات الإجبارية و 9 ساعة للمقررات الإختيارية بالإضافة الي الرسالة العلمية وتعادل 18 ساعة معتمدة.


        </p>
        <p>
            متطلبات الدكتوراه في نظم المعلومات
            <br />
            مطلوب من الطالب إجتياز إختبار تأهيلى دكتوراه ودراسة 12 ساعات من المقررات التالية بالإضافة الي الرسالة العلمية.










        </p>
        <h3 style="text-align: center;color: red">
            قسم الحسابات العلمية
        </h3>
        <p>
            متطلبات الماجستير في الحسابات العلمية
            <br />
            يقوم الطالب بدراسة 18 ساعة معتمدة للمقررات منها 9 ساعات معتمدة للمقررات الإجبارية و 9 ساعة للمقررات الإختيارية بالإضافة الي الرسالة العلمية وتعادل 18 ساعة معتمدة.



        </p>
        <p>
            متطلبات الدكتوراه في الحسابات العلمية
            <br />
            مطلوب من الطالب إجتياز إختبار تأهيلى دكتوراه ودراسة 12 ساعة معتمدة من المقررات التالية بالإضافة الي الرسالة العلمية.






        </p>

    </div>

    </div>






