
@{
    ViewBag.Title = "Quality_Unit";
}
<style>
    .xxx p{
        color: red
    }
</style>

<div class="container">
<div class="csheader">
    <h4>نبذة عامة وشاملة عن الجودة</h4>
</div>
<div class="text-right section">
    <p>
        عزيزي الطالب عزيزتى الطالبة، هل تعلم أن الطلاب الذين يتخرجون من كليات مرموقة تحقق متطلبات الجودة تتوافر لهم فرص عمل أفضل من غيرهم، سواء في بلدهم أو خارجها. وتطبيق نظم الجودة فى كليتك يضمن لك أن تكون خريجا متميزا وسط آلاف الخريجين، ويوفر لك فرصا عديدة للحصول على الوظيفة التى تسعى إليها فور تخرجك، ويجعل منظمات سوق العمل تتهافت على توظيفك.
    </p>

</div>
<br />
<div class="csheader">
    <h4>مميزات الخريجين من الكليات التي تطبق الجودة</h4>
</div>
<div class="text-right section xxx">
    <p>
        إن الكليات التي تطبق نظم الجودة تخرج طلابا يتميزون بأنهم:
    </p>
    <ol>
        <li>ذو إدارة وقدرة على التكيف مع مختلف ظروف العمل في بلدهم وفي خارجها مع مراعاة واحترام عادات وتقاليد وثقافات الآخرين.       </li>
        <li>قادرون على الاتّصال والتواصل الناجح مع الآخرين.        </li>
        <li> قادرون على حل المشكلات واتخاذ القرارات البناءة.
        </li>
        <li>قادرون على الإبداع والتميز.
        </li>
        <li>قادرون على إدارة الوقت والموارد والأزمات.
        </li>
        <li>ذو أخلاق وثقة بالنفس.
        </li>
        <li>ذو سلوك قويم ومظهر مقبول.
        </li>
       

    </ol>

</div>
<br/>
<div class="csheader">
    <h4>العائد الناتج من تطبيق الجودة علي العملية التعليمية</h4>
</div>
    <div class="text-right section  xxx">
        <p>
            وتطبيق هذه النظم يضمن مردودا جيدا على العملية التعليمية،يتمثل فى:

        </p>
        <ol>
            <li>
                زيادة الكفاءة التعليمية ورفع مستوى الأداء لجميع أفراد المؤسسة.
            </li>
            <li>
                تنمية الوعي لدى الطلاب وارتقاء شامل متكامل بمستوى الطلاب.
            </li>
            <li>
                ضبط وتطوير النظام الإداري ووضوح الأدوار وتحديد المسئوليات.
            </li>
            <li>
                متابعة رضاء الطلاب والمجتمع المحلى وسوق العمل عن الخدمات التعليمية.
            </li>
            <li>
                الترابط والتكامل بين جميع أفراد المؤسسة، والعمل بروح الفريق، بما يوفر جوا من التفاهم.
            </li>
            <li>
                والتعاون والعلاقات الإنسانية السليمة بين جميع أفراد المؤسسة.
            </li>
            <li>
                تحليل المؤسسة للمشكلات التى تقابلها بالطرق العلمية الصحيحة، والتعامل معها من خلال الإجراءات التصحيحية والوقائية.


            </li>


        </ol>
    </div>
<br/>
<div class="csheader">
    <h4>ولتحقيق الجودة يجب ملراعاة الشروط الاتية</h4>
</div>

<div class="text-right section xxx">
    <p>
        إعداد الخريج فى ضوء متطلبات سوق العمل:
        ويمكن تحقيق ذلك من خلال مايلى:
    </p>
    <ol>
        <li>
            وضع مواصفات للخريج، تتناسب مع احتياجات سوق العمل، وتجعلك قادار على المنافسة.
        </li>
        <li>
            تستخدم الكلية الآليات المناسبة التى تضمن اكتسابك لهذه المواصفات.
        </li>

    </ol>
    <p>
        توفير البرامج الأكاديمية التى تنمى المهارات الضرورية لسوق العمل:

    </p>

    <ol>
        <li>
            تحرص الكلية على حصر احتياجات سوق العمل.
        </li>
        <li>
            تتيح الكلية برامج أكاديمية تلبى احتياجات سوق العمل
        </li>
        <li>
            يضمن ذلك أن تعمل فى مهنة تتناسب مع مهاراتك واتجاهاتك و ما درستة بالكلية.

        </li>
    </ol>
    <p>
        اختيار أعضاء هيئة التدريس الأكفاء:
    </p>
    <ol>
        <li>
            فى ظل تطبيق نظم الجودة، يتم اختيار أعضاء هيئة التدريس بعناية
        </li>
        <li>

            يعمل أعضاء هيئة التدريس بكفاءة عالية، بما يحقق معايير الجودة.
        </li>
        <li>
            يشارك عضو هيئة التدريس طلابه فى عمليات التعليم والتعلم، بما يضمن اكتسابك المعارف والمهارات والاتجاهات المطلوبة.

        </li>
    </ol>
    <p>
        استخدام أساليب التقييم الفعالة:
    </p>
    <ol>
        <li>
            يسهم نظام الجودة فى أن يكون مفهوم التقييم مدخلا لتطوير معارفك ومهاراتك، وليس مقصورا على أنه امتحان يشكل مصدرا للقلق.
        </li>
        <li>
            يستخدم أعضاء هيئة التدريس أساليب متنوعة للتقييم، بما يعكس قدراتك الحقيقية وتنوعها
        </li>
        <li>
            تتم الاستفادة من نتائج تقييمك فى تجويد العملية التعليمية والتطوير الشامل، بما يحقق لك ما تطمح إليه
        </li>            
    </ol>
    <p>
        تهيئة المناخ التعليمي:
    </p>
    <ol>
        <li>
            توفر الكلية مناخا يتسم بالود ورح فريق العمل، يتيح لك المشاركة فى اتخاذ القرار، مع ضمان حرية التعبير واحترام الرأى الآخر
        </li>
        <li>
            تمارس الأنشطة المتنوعة، بما يضمن بناء شخصيتك بكافة جوانبها.
        </li>
        <li>
            تتاح لك فرص الرعاية الصحية والاجتماعية والنفسية فى ضوء معايير الجودة.
        </li>
        <li>
            تتوافر لك فرص الدعم الأكاديمى، بما يضمن لك سهولة التقدم فى البرنامج الأكاديمي وتحقيق أقصى استفادة ممكنة.
        </li>


    </ol>
    <p>
        ممارسة العمل الجماعي:
    </p>
    <ol>
        <li>
            تحرص الكلية على تنمية مهارات العمل الجماعي لديك، باعتبارها إحدى متطلبات سوق العمل.
        </li>
        <li>
            توظف مواقف مختلفة للتعلم الجماعى، مثل : التعلم التعاونى، وحلقات البحث لتأكيد تحقق نواتج التعلم المستهدفة
        </li>

    </ol>
    <p>
        توفير التجهيزات المطلوبة:
    </p>
    <ol>
        <li>
            تحرص الكلية على توفير جميع التجهيزات اللازمة (مصادر المعرفة، المعامل... إلخ)، بما يضمن تحقيق مخرجات العملية التعليمية
        </li>
        <li>
            تعمل الكلية على سد العجز - إن وجد - وعلى صيانة الأجهزة والتجهيزات والمرافق المتوافرة بالفعل بطرق مختلفة
        </li>
        <li>

             
            تستغل التجهيزات المتاحة بصورة مثلى، بما يمنع تكرار بعض الأجهزة وغياب البعض.>
        </li>

    </ol>
    <p>
            
        الاستجابة للشكاوى والمقترحات:
    </p>
    <ol>
        <li>
            توفر الكلية آلية لاستقبال شكواي الطلاب.
        </li>
        <li>
            تعمل الكلية على فحص الشكاوى والاستجابة لها، بما يحقق حسن سير العملية التعليمية.
        </li>
    </ol>

</div>
</div>

