
@{
    ViewBag.Title = "SC_Dept";
}

<div class="container">
    <div class="csheader">
        <h4>قسم الحاسبات العلمية</h4>
    </div>
    <div class="text-right section">
        <p>
            يهتم قسم الحسابات العلمية بتنمية واستحداث معالجات جديدة للعملية التعليمية والبحث العلمي باستغلال التكنولوجيا الحسابية سريعة التطور وعالية الأداء. فالحسابات العلمية تهتم بالتطوير المنهجي لاستخدام الحاسبات وأساليب الحل الحسابية في فهم ونمذجة ومحاكاة الظواهر في العلوم الطبيعية والهندسية. ويعتبر قسم الحسابات العلمية ثلاثية الحسابات العلمية والفكر النظري والتجربة وسيلة فعالة للاستقصاء وللتبصير، تؤدي إلي درجة من الفهم يعجز الفهم النظري وحده أو التجربة وحدها عن بلوغها في كثير من الحالات. جدير بالذكر أن هناك احتياجاً كبيراً لهذه النوعية الجديدة من الخريجين بجميع المراكز والمعامل البحثية بالجامعات والمعاهد وقطاعات البحث العلمي والصناعة والبترول والثروة المعدنية وشئون البيئة.        </p>

    </div>
    <div class="cssubjects">
        <h4>مواد القسم</h4>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr class="success">
                <td>النمذجة والمحاكاة </td>
                <td>بحوث العمليات </td>
                <td>نظرية الحسابات</td>
                <td>التحليل الإحصائي وتطبيقاته</td>
            </tr>                  
            <tr class="danger">
                <td>الاحتمالات والإحصاء </td>
                <td>التعرف علي الأشكال  </td>
                <td>التحليل العددي  </td>
                <td>الرسم بالحاسب</td>

            </tr>
            <tr class="success">
                <td> الحسابات البيئية والكونية</td>
                <td>التبصير العلمي والإحصائي </td>
                <td> أساليب الحسابات العددية</td>
                <td> الإحصاء الرياضي</td>

            </tr>
            <tr class="danger">
                <td> طرق العناصر المحدودة</td>
                <td>الحسابات الرمزية  </td>
                <td>  البرمجة الرياضية </td>
                <td>الحسابات عالية الأداء</td>
            </tr>
            <tr class="success">
                <td>معالجة الصفقات</td>
                <td> حساب الأشكال الرياضية</td>
                <td> التنقيب عن البيانات</td>
                <td>البرمجة الرياضية </td>

            </tr>
        </table>
    </div>



    <div class="cssemployees">
        <h4>تشكيل مجلس القسم</h4>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>م</th>
                    <th>الإسم</th>
                    <th>الوظيفة</th>
                </tr>
            </thead>
            <tr class="success">
                <td>1</td>
                <td>أ.د / محمد صلاح الدين السيد   </td>
                <td>أستاذ بقسم الحسابات العلمية (رئيساً)</td>

            </tr>

            <tr class="danger">
                <td>2</td>
                <td>أ.م.د /السيد السيد متولى بدر </td>
                <td> أستاذ مساعد بقسم الحسابات العلمية (عضوا ) )</td>


            </tr>
            <tr class="success">
                <td> 3</td>
                <td> د / امال احمد أبوالخير</td>
                <td> أستاذ مساعد بقسم الحسابات العلمية (عضوا ) </td>

            </tr>
            <tr class="danger">
                <td>4</td>
                <td> د / أحمد طاهر ازار </td>
                <td> أستاذ مساعد بقسم الحسابات العلمية (عضوا )</td>

            </tr>
            <tr class="success">
                <td>5</td>
                <td> أ/ إيمان عصام محمد </td>
                <td> ( إدارى )</td>

            </tr>
            <tr class="danger">
                <td>6</td>
                <td> أ/ زاهية محمد السيد </td>
                <td> ( إدارى )</td>

            </tr>

        </table>
    </div>

</div>
